.idea/
.vscode/
.vs/
cmake-build-debug/
bin/
build/
out/
cmake-build-release/
CMakeSettings.json
cmake-build-release/.cmake/api/v1/reply/cache-v2-870b1568f0b2c2fcdfdf.json
cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-df90060417b9feb80637.json
cmake-build-release/.cmake/api/v1/reply/codemodel-v2-4a758ed352ceb3e39ec5.json
cmake-build-release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
cmake-build-release/.cmake/api/v1/reply/directory-_deps.raylib-build-Release-f4a6d5f8502a4d855644.json
cmake-build-release/.cmake/api/v1/reply/directory-_deps.raylib-build.raylib-Release-436d94ab38bf6b4c034a.json
cmake-build-release/.cmake/api/v1/reply/directory-_deps.raylib-build.raylib.external.glfw-Release-2361655132103a4f0d56.json
cmake-build-release/.cmake/api/v1/reply/directory-_deps.raylib-build.raylib.external.glfw.src-Release-fd9d817e422ea98099ce.json
cmake-build-release/.cmake/api/v1/reply/index-2024-11-27T14-53-18-0863.json
cmake-build-release/.cmake/api/v1/reply/target-glfw-Release-bb4b1dfed65f19354664.json
cmake-build-release/.cmake/api/v1/reply/target-raylib-Release-0b9c8b2c11c06ff7790b.json
cmake-build-release/.cmake/api/v1/reply/target-rlgol-Release-0fa0164de775273bdafe.json
cmake-build-release/.cmake/api/v1/reply/target-uninstall-Release-c529e4fd2e83bb6b28aa.json
cmake-build-release/.cmake/api/v1/reply/target-update_mappings-Release-a3bcfd408c9d0427fe71.json
cmake-build-release/.cmake/api/v1/reply/toolchains-v1-4171b4901bbe6c2a4c2a.json
cmake-build-release/.ninja_deps
cmake-build-release/.ninja_log
cmake-build-release/_deps/raylib-build/cmake_install.cmake
cmake-build-release/_deps/raylib-build/CTestTestfile.cmake
cmake-build-release/_deps/raylib-build/raylib/cmake_install.cmake
cmake-build-release/_deps/raylib-build/raylib/CMakeFiles/Export/3f9a69e8808e76b29b64bee1688b3b35/raylib-targets-release.cmake
cmake-build-release/_deps/raylib-build/raylib/CMakeFiles/Export/3f9a69e8808e76b29b64bee1688b3b35/raylib-targets.cmake
cmake-build-release/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/raudio.c.obj
cmake-build-release/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rcore.c.obj
cmake-build-release/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rmodels.c.obj
cmake-build-release/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rshapes.c.obj
cmake-build-release/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rtext.c.obj
cmake-build-release/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/rtextures.c.obj
cmake-build-release/_deps/raylib-build/raylib/CMakeFiles/raylib.dir/utils.c.obj
cmake-build-release/_deps/raylib-build/raylib/CTestTestfile.cmake
cmake-build-release/_deps/raylib-build/raylib/external/glfw/cmake_install.cmake
cmake-build-release/_deps/raylib-build/raylib/external/glfw/cmake_uninstall.cmake
cmake-build-release/_deps/raylib-build/raylib/external/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets.cmake
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/cmake_install.cmake
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/context.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/egl_context.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/init.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/input.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/monitor.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/null_init.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/null_joystick.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/null_monitor.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/null_window.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/osmesa_context.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/platform.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/vulkan.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/wgl_context.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/win32_init.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/win32_joystick.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/win32_module.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/win32_monitor.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/win32_thread.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/win32_time.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/win32_window.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/CMakeFiles/glfw.dir/window.c.obj
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/glfw3.pc
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/glfw3Config.cmake
cmake-build-release/_deps/raylib-build/raylib/external/glfw/src/glfw3ConfigVersion.cmake
cmake-build-release/_deps/raylib-build/raylib/include/raylib.h
cmake-build-release/_deps/raylib-build/raylib/include/raymath.h
cmake-build-release/_deps/raylib-build/raylib/include/rlgl.h
cmake-build-release/_deps/raylib-build/raylib/libraylib.a
cmake-build-release/_deps/raylib-build/raylib/raylib-config-version.cmake
cmake-build-release/_deps/raylib-build/raylib/raylib.pc
cmake-build-release/_deps/raylib-src/
cmake-build-release/_deps/raylib-subbuild/CMakeFiles/raylib-populate-complete
cmake-build-release/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-build
cmake-build-release/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-configure
cmake-build-release/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-done
cmake-build-release/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-download
cmake-build-release/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-gitclone-lastrun.txt
cmake-build-release/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-install
cmake-build-release/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-patch
cmake-build-release/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-test
cmake-build-release/build.ninja
cmake-build-release/cmake_install.cmake
cmake-build-release/CMakeCache.txt
cmake-build-release/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
cmake-build-release/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.30.5/CompilerIdCXX/a.exe
cmake-build-release/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/CMakeFiles/clion-Release-log.txt
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/cmake.verify_globs
cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-release/CMakeFiles/rlgol.dir/src/array.c.obj
cmake-build-release/CMakeFiles/rlgol.dir/src/game.c.obj
cmake-build-release/CMakeFiles/rlgol.dir/src/main.c.obj
cmake-build-release/CMakeFiles/rules.ninja
cmake-build-release/CMakeFiles/TargetDirectories.txt
cmake-build-release/CMakeFiles/VerifyGlobs.cmake
cmake-build-release/CPackConfig.cmake
cmake-build-release/CPackSourceConfig.cmake
cmake-build-release/rlgol.exe
cmake-build-release/Testing/Temporary/LastTest.log
cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-release/Testing/Temporary/LastTest.log
assets/test.png
